* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body,
html {
    scrollbar-width: thin;
}

button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}

.welcome-container {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-text {
    position: absolute;
    left: 20px;
    transform: translateY(-50px);
    color: white;
    white-space: nowrap;
    overflow: hidden;
    /* border-bottom: 5px solid greenyellow; */
    animation: unhide_text 2s linear forwards;
}
@keyframes unhide_text {
    0% { 
        width: 0px;
    }
    100% {
        width: 400px;
    }
}

.welcome-input {
    color: white;
    border: 1px solid white;
    background-color: black;
    padding: 5px;
    animation: unhide_password_field 4s linear forwards;
}
.welcome-submit {
    border: 1px solid gray;
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    animation: unhide_password_field 4s linear forwards;
}
.welcome-submit:hover {
    background-color: red;
}
@keyframes unhide_password_field {
    0% { opacity: 0;}
    50% { opacity: 0;}
    100% {opacity: 1;}
}
.welcome-response {
    width: 0px;
    display: none;
    position: absolute;
    color: white;
    left: 20px;
    white-space: nowrap;
    overflow: hidden;
}
#welcome-response-text-1{
    margin-top: 100px;
    animation: unhide_text 2s linear forwards;
}
#welcome-response-text-2{
    margin-top: 200px;
    animation: unhide_text 4s linear forwards;
    animation-delay: 2s;
}
#welcome-response-text-3{
    margin-top: 250px;
    animation: unhide_text 4s linear forwards;
    animation-delay: 3s;
}


.lanes-container {
    position: absolute;
    width: 100%;
    height: 700px;
    height: 100%;
    padding: 20px 20px 20px 20px;
    background-color: rgb(9, 9, 9);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.lanes-container svg {
    position: absolute;
    width: 100%;
}
.overlay-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; /* Full height */
    width: 5%; /* From 90% to 100% width */
    object-fit: cover;
}

.lane {
    position: relative;
    width: calc(100vw - 140px);
    height: 40px;
    margin-left: 0px;

    /* clip-path: polygon( 20px 0, 100% 0, calc(100% - 20px) 100%, 0 100%); */
    display: flex;
    align-items: center;
    overflow-y: visible;
}
.lane[data-mylane='true'] {
    /* background-color: rgba(23, 185, 50, 0.445); */
    margin-top: 20px;
    margin-bottom: 20px;
}


.car {
    position: absolute;
    left: 2%;
    width: 120px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.car[data-mycar='true'] {
    background-color: rgba(26, 204, 94, 0.707);
    border-radius: 40px;
    /* z-index: 10; */
    /* margin-bottom: 20px; */
}

.car img {
    object-fit: contain;
    width: 100%;
}

.nickname {
    position: absolute;
    top: 50%;
    right: -20px;
    z-index: 20;
    color: white;
    font-size: 15px;
    background-color: rgba(108, 108, 108, 0.414);
}

.lobby-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 41;
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.lobby-background-image {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%; /* Full height */
    width: 100%; /* From 90% to 100% width */
    object-fit: cover;
}
.lobby-h1 {
    z-index: 1;
    color: white;
}
.lobby-password-form {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#lobby-submit {
    cursor: pointer;
}


.race-host-controls {
    display: none;
    width: 100%;
    z-index: 1000000;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.start-race,
.pause-race,
.stop-race,
.reset-race,
.live-race {
    height: 50px;
    border-radius: 5px;
    padding: 10px;
}
.start-race {
    background-color: greenyellow;
}
.pause-race {
    background-color: yellow;
}
.stop-race {
    background-color: red;
}
.reset-race {
    background-color: gray;
}

.move-car {
    height: 50px;
    z-index: 10;
    display: none;
}

.n-players-display {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(99, 165, 219);
    z-index: 40;
}

.quiz-container {
    width: 100%;
    padding-top: 5px;

    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}
.quiz-div {
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.793);
    padding: 10px;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#answers {
    display: flex;
    gap: 10px;
}
.answer {
    padding: 3px;
    border-radius: 3px;
    margin-top: 10px;
    background-color: rgb(205, 205, 205);
    background-color: transparent;
}
.answer-correct{
    animation: correct_answer 1s ease-in forwards;
}
.answer-wrong{
    animation: wrong_answer 1s ease-in forwards;
}

@keyframes correct_answer {
    0% {background-color: rgb(205, 205, 205);}
    50% {background-color: rgb(19, 180, 32);}
    100% {background-color: rgb(205, 205, 205);}
}
@keyframes wrong_answer {
    0% {background-color: rgb(205, 205, 205); transform: rotateZ(0deg);}
    25% {background-color: rgb(204, 4, 4); transform: rotateZ(25deg);}
    50% {background-color: rgb(204, 4, 4); transform: rotateZ(0deg);}
    75% {background-color: rgb(204, 4, 4); transform: rotateZ(-25deg);}
    100% {background-color: rgb(205, 205, 205); transform: rotateZ(0deg);}
}
.answer:hover {
    background-color: rgb(99, 165, 219);
}

.in-the-zone {
    position: absolute;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.699);
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
}
.in-the-zone-active{
    animation: in_the_zone_animation 1.2s ease-in forwards;
}
@keyframes in_the_zone_animation {
    0% { opacity: 0; scale: 1;}
    50% { opacity: 1; scale: 2;}
    100% {opacity: 0; scale: 1;}
}


.winners-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    z-index: 1000;

    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.winners-h1{
    color: white;
    padding-bottom: 20px;
}
.winners-h3{
    font-size: 15px;
    color: white;
    padding-bottom: 20px;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
}
.fer-alon-h1{
    color: white;
    font-size: 20px;
    padding: 20px;
}
.fer-alon-h3{
    font-size: 15px;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
}
.podium{
    position: relative;
    height: 200px;
    width: 100%;
    max-width: 500px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.podium-position {
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: rgba(66, 66, 66, 0.699);
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#first-position{
    top: 0;
    z-index: 1;
}
#second-position{
    left: 0;
    margin-top: -30px;
}
#third-position{
    right: 0;
    margin-top: 30px;
}
#last-position{
    position: relative;
    margin-top: 20px;
}

.fer-alon-face {
    position: absolute;
    width: 100px;
    height: 100px;

    display: flex;
    object-fit: contain;
    right: -120px;
}
.fer-alon-face img {
    border-radius: 10px;
}

.number-position {
    position: absolute;
    color: white;
    bottom: -30px;
    font-size: 30px;
    animation: podium_position 3s ease-in infinite;
}

@keyframes podium_position {
    0% { transform: rotateZ(0deg);}
    10% { transform: rotateZ(15deg);}
    20% { transform: rotateZ(-15deg);}
    30% { transform: rotateZ(0deg);}
    100% { transform: rotateZ(0deg);}
}


.loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200000;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-container-active {
    display: flex;
}
.wheel{
    width: 60px;
    height: 60px;
    animation: wheel_rotation 3.5s linear infinite; /* Animation properties */
}
.wheel-text {
    color: white;
}
@keyframes wheel_rotation {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}
.wheel svg {
    stroke: white;
    stroke-width: 5;
}
.finish-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200001;

    background-color: rgba(0, 0, 0, 0.732);
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.finish-div{
    color: white;
}
.finish-car{
    padding-top: 20px;
    position: relative;
    width: 160px;
    object-fit: cover;
}