:root {
    --scene-height: 1em;
    --scene-font-size: 120px;

    --obj-ratio: 1em;
    --obj-bottom: 0em;
    --obj-left: 0em;

    --cube-height: 4em;
    --cube-width: 0.2em;
    --cube-depth: 0.1em;
    --cube-left: 0;
    --cube-bottom: 0;
    --cube-rotate-x: 0;
    --cube-rotate-y: 0;
    --cube-rotate-z: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
button {
    padding: 0;
    margin: 0;
}

@media screen and (max-height: 900px) {
    :root { --scene-font-size: 75px; }
}
@media screen and (max-height: 700px) {
    :root { --scene-font-size: 70px; }
}

.map {
    position: absolute;
    z-index: 2;
    width: 8em;
    height: 7em;
    /* background-color: rgba(224, 224, 224, 0.632); */
    bottom: 0.5em;
    left: 0.5em;

    display: flex;
}

.map-position {
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: blue;
    bottom: 15%;
    left: 13%;
}


.scene-container {
    /* background-color: rgb(31, 31, 31); */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--scene-font-size);
    perspective: 10em;
    perspective-origin: 50% calc(50% - 2em);

    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.scene {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s linear;
    pointer-events: none;
    transform: translateX(-1em);
}

.scene-obj {
    transform-style: preserve-3d;
    position: absolute;
    
    height: var(--obj-ratio);
    width: var(--obj-ratio);

    /* Object centered at the middle of the plane */
    left: calc(-1 * var(--obj-ratio) / 2);
    bottom: calc(-1 * var(--obj-ratio) / 2 - var(--scene-height));
}

.cube-group {
    position: absolute;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
}

@keyframes sceneRotate {
    to {transform: rotateY(360deg)}
}

.cube {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    left: calc(var(--cube-left) * var(--obj-ratio) + var(--obj-left));
    bottom: calc((var(--cube-height) / 2 + var(--cube-bottom)) * var(--obj-ratio) + var(--obj-bottom));
    transform: rotateX(var(--cube-rotate-x)) rotateY(var(--cube-rotate-y)) rotateZ(var(--cube-rotate-z));

    display: flex;
    align-items: center;
    justify-content: center;
}

.cube .left,
.cube .right,
.cube .front,
.cube .back,
.cube .top,
.cube .bottom {
    position: absolute;
    background: var(--cubeColor);
}

.cube .left,
.cube .right {
    height: calc(var(--cube-height) * var(--obj-ratio));
    width: calc(var(--cube-depth)  * var(--obj-ratio));
}

.cube .front,
.cube .back {
    height: calc(var(--cube-height) * var(--obj-ratio));
    width: calc(var(--cube-width) * var(--obj-ratio));
}

.cube .top,
.cube .bottom {
    height: calc(var(--cube-depth) * var(--obj-ratio));
    width: calc(var(--cube-width) * var(--obj-ratio));
}


.cube .front { transform: translateZ(calc(var(--cube-depth) * var(--obj-ratio) / 2)); }
.cube .right { transform: rotateY(270deg) translateZ(calc(var(--cube-width) * var(--obj-ratio) / 2)); }
.cube .back { transform: rotateY(180deg) translateZ(calc(var(--cube-depth) * var(--obj-ratio) / 2)); }
.cube .left { transform: rotateY(90deg) translateZ(calc(var(--cube-width) * var(--obj-ratio) / 2));}
.cube .top { transform: rotateX(90deg) translateZ(calc(var(--cube-height) * var(--obj-ratio) / 2))}
.cube .bottom { transform: rotateX(90deg) translateZ(calc(-1 * var(--cube-height) * var(--obj-ratio) / 2))}

/* WALLS */
[id^="wallobj"] {
    --obj-ratio: 1em;
}
[id*="wall-"] {
    --cube-height: 5;
    --cube-depth: 0.5;
    --cubeColor: white;
}
[id^="wall-"] > *{
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.321) inset;
}
[id*="painting-frame"] {
    --cubeColor: white;
    transform: translateZ(calc(var(--obj-ratio) * 0.3));
}

/*WALL 1*/
#wallobj-1-1 {
    transform: translateZ(2em);
}
#wall-1-1 {
    --cube-width: 9;
    --cube-left: calc(var(--cube-width) / 2); }

#wall-1-1-painting-frame-1 {
    --cube-height: 2;
    --cube-width: 2;
    --cube-depth: 0.1;
    --cube-bottom: 2;
    --cube-left: calc(var(--cube-width)/2 + 1.5);
}

#wall-1-1-painting-frame-2 {
    --cube-height: 3.2;
    --cube-width: 2;
    --cube-depth: 0.1;
    --cube-bottom: 1;
    --cube-left: calc(var(--cube-width)/2 + 5);
}

#wall-1-1-invisible-screen {
    position: absolute;
    height: 100%;
    --width: 3em;
    width: var(--width);
    right: calc(-1 * (var(--width)));

    pointer-events: all;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.room-sign > * {
    box-shadow: none;
}

#wall-1-1-room2-sign {
    position: absolute;
    height: 1em;
    right: 1em;
    top: 7em;
    
    font-size: 0.18em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family:Arial, Helvetica, sans-serif; */
    
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.2em;
}
.room-sign-arrow { height: 100%; }
.room-sign-arrow svg { height: 100%; }

#wall-1-1 .front #wall-1-1-invisible-screen:hover {
    background-color: rgba(215, 221, 225, 0.308);
}
#wall-1-1 .front #wall-1-1-invisible-screen:hover ~ .room-sign {
    animation: RotateRoomSign 0.7s ease-in-out;
}

@keyframes RotateRoomSign {
    0% {transform: rotatez(0deg);}
    25% {transform: rotatez(-10deg);}
    75% {transform: rotatez(8deg);}
    100% {transform: rotatez(0deg);}
}


/*WALL 2*/
#wallobj-1-2 { transform: translateX(8.5em); }
#wall-1-2 {
    --cube-width: 8;
    --cube-left: calc(var(--cube-width) / 2); 
}

#wall-1-2-painting-frame-1-out {
    --cube-height: 1.3;
    --cube-width: 2;
    --cube-depth: 0.1;
    --cube-bottom: 2.2;
    --cube-left: calc(var(--cube-width)/2 + 1.8);
}

/*WALL 3*/
#wallobj-1-3 {
    transform: translateZ(2em) translateX(12em);
}
#wall-1-3 { 
    --cube-width: 1;
    --cube-left: 0.5
}



/*WALL 4*/
#wallobj-1-4 { 
    transform: translateZ(2.25em) rotateY(-90deg) translateZ(-13.25em); 
}
#wall-1-4 {
    --cube-width: 10;
    --cube-left: calc(var(--cube-width) / 2); 
}

#wall-1-4-painting-frame-3 {
    --cube-height: 1;
    --cube-width: 1.5;
    --cube-depth: 0.1;
    --cube-bottom: 2.5;
    --cube-left: calc(var(--cube-width)/2 + 2);
}
#wall-1-4-painting-frame-4 {
    --cube-height: 2;
    --cube-width: 1.5;
    --cube-depth: 0.1;
    --cube-bottom: 2;
    --cube-left: calc(var(--cube-width)/2 + 5);
}
#wall-1-4-painting-frame-5 {
    --cube-height: 2;
    --cube-width: 1.5;
    --cube-depth: 0.1;
    --cube-bottom: 2;
    --cube-left: calc(var(--cube-width)/2 + 7.25);
}



/* WALL 5 */
#wallobj-1-5 { 
    transform: translateZ(12em) translateX(13em); 
}
#wall-1-5 {
    --cube-width: 2;
    --cube-left: calc(var(--cube-width) / 2);
}

/* WALL 6*/
#wallobj-1-6 { 
    transform: translateZ(12.25em) rotateY(-90deg) translateZ(-15.25em); 
}
#wall-1-6 {
    --cube-width: 8.5;
    --cube-left: calc(var(--cube-width) / 2); 
}
#wall-1-6-painting-frame-6 {
    --cube-height: 1;
    --cube-width: 1.5;
    --cube-depth: 0.1;
    --cube-bottom: 3;
    --cube-left: calc(var(--cube-width)/2 + 1.5);
}
#wall-1-6-painting-frame-7 {
    --cube-height: 1;
    --cube-width: 1.5;
    --cube-depth: 0.1;
    --cube-bottom: 1.6;
    --cube-left: calc(var(--cube-width)/2 + 1.5);
}
#wall-1-6-painting-frame-8 {
    --cube-height: 2;
    --cube-width: 2;
    --cube-depth: 0.1;
    --cube-bottom: 2;
    --cube-left: calc(var(--cube-width)/2 + 4.5);
}

/* WALL 7 */
#wallobj-1-7 { 
    transform: translateZ(2em) rotateY(180deg) translateZ(-19em) translateX(-15em); 
}
#wall-1-7 {
    --cube-width: 15;
    --cube-left: calc(var(--cube-width) / 2); 
}

#wall-1-7-painting-frame-9 {
    --cube-height: 3.2;
    --cube-width: 2;
    --cube-depth: 0.1;
    --cube-bottom: 1;
    --cube-left: calc(var(--cube-width)/2 + 2.5);
}
#wall-1-7-painting-frame-10 {
    --cube-height: 2;
    --cube-width: 2;
    --cube-depth: 0.1;
    --cube-bottom: 1.75;
    --cube-left: calc(var(--cube-width)/2 + 6.5);
}
#wall-1-7-painting-frame-11 {
    --cube-height: 3.2;
    --cube-width: 2;
    --cube-depth: 0.1;
    --cube-bottom: 1;
    --cube-left: calc(var(--cube-width)/2 + 10.5);
}

/* WALL 8 */
#wallobj-1-8 { 
    transform: translateZ(2em) rotateY(90deg) translateX(-18.75em) translateZ(-0.25em); 
}
#wall-1-8 {
    --cube-width: 18.5;
    --cube-left: calc(var(--cube-width) / 2); 
}

#wall-1-8-painting-frame-12 {
    --cube-height: 1;
    --cube-width: 1;
    --cube-depth: 0.1;
    --cube-bottom: 2.5;
    --cube-left: calc(var(--cube-width)/2 + 1.5);
}
#wall-1-8-painting-frame-13 {
    --cube-height: 1;
    --cube-width: 1.5;
    --cube-depth: 0.1;
    --cube-bottom: 2.5;
    --cube-left: calc(var(--cube-width)/2 + 3.5);
}
#wall-1-8-painting-frame-14 {
    --cube-height: 2;
    --cube-width: 2;
    --cube-depth: 0.1;
    --cube-bottom: 2;
    --cube-left: calc(var(--cube-width)/2 + 6.5);
}
#wall-1-8-painting-frame-15 {
    --cube-height: 2;
    --cube-width: 1.5;
    --cube-depth: 0.1;
    --cube-bottom: 2;
    --cube-left: calc(var(--cube-width)/2 + 10);
}
#wall-1-8-painting-frame-16 {
    --cube-height: 2;
    --cube-width: 1.5;
    --cube-depth: 0.1;
    --cube-bottom: 2;
    --cube-left: calc(var(--cube-width)/2 + 12.25);
}
#wall-1-8-painting-frame-17 {
    --cube-height: 1;
    --cube-width: 2.2;
    --cube-depth: 0.1;
    --cube-bottom: 2.5;
    --cube-left: calc(var(--cube-width)/2 + 15);
}


#painting {
    transform-style: preserve-3d;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 0.02em rgba(0, 0, 0, 0.328);
}

#painting .painting-description {
    position: absolute;
    width: 0.3em;
    height: 0.13em;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: calc(100% + 0.2em);
    transform: translateZ(-0.07em);

    text-align: left;
    padding: 0.02em;
    box-shadow: 0 0 0.02em rgba(0, 0, 0, 0.215);
}
.painting-description p {
    font-size: 0.02em;
    line-height: 1em;
}

#painting img{
    --border-painting: 0.04em;
    width: calc(100% - var(--border-painting));
    height: calc(100% - var(--border-painting));

    pointer-events: fill;
    cursor: pointer;
}


.container-zoom-work{
	position: fixed;
	display: none;
	z-index: 100;
	/* margin-top: var(--height-nav-bar); */
	/* height: calc(100% - var(--height-nav-bar)); */
	height: 100%;
	width: 100%;
	/* background-color: rgba(255, 255, 255, 0.932); */
    backdrop-filter: blur(1em) saturate(80%);
    -webkit-backdrop-filter: blur(1em) saturate(80%);
}

.sub-container-zoom-work{
	position: absolute;
	top: 10%;
	height: 70%;
	width: 80%;
	max-width: 800px; /* This must match the @media query*/
	left: 50%;
	transform: translateX(-50%);
	visibility: visible;
    z-index: 5;
	/* overflow: hidden; */
	/* border: 1px solid #ccc; */
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sub-container-zoom-work img{
	width: 99%;
	height: 99%;
	object-fit: contain;
}

.close-img-wrapper {
	position: absolute;
	height: 45px;
	width: 45px;
	top: 10px;
	right: 10px;
	display: flex;
    justify-content: center;
    align-items: center;
	
	background-color: transparent;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color .3s ease-in;
}
.close-img-wrapper:hover {
	background-color:#e9e8e8;
}
.close-img-wrapper svg {
    width: 100%;
	stroke: black;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 1.5em;
}

.container-zoom-work-bottom {
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, 0);
	height: 40px;
	width: 260px;
}


.container-zoom-work-prev,
.container-zoom-work-next{
  	position: absolute;
	height: 40px;
	width: 40px;
	cursor: pointer;
  	user-select: none;
  	z-index: 10;

    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease-in;
    
    transform: none;
}
.container-zoom-work-prev:hover,
.container-zoom-work-next:hover {
	background-color:#e9e8e8;
}
@media only screen and (hover: none) {
    .container-zoom-work-prev:hover,
    .container-zoom-work-next:hover {
        background-color: transparent;
    }
}

.click-animation-right { animation: clickArrowRight 0.3s ease-out; }
.click-animation-left { animation: clickArrowLeft 0.3s ease-out; }

@keyframes clickArrowRight {
    0% { transform: translateX(0em); }
    40% { transform: translateX(0.5em); }
    100% { transform: translateX(0em); }
}
@keyframes clickArrowLeft {
    0% { transform: translateX(0em); }
    40% { transform: translateX(-0.5em); }
    100% { transform: translateX(0em); }
}

.container-zoom-work-prev {
	left: 0;
}
.container-zoom-work-next {
	right: 0;
}

.container-zoom-work-prev path, .container-zoom-work-next path {
	fill: none; /* Specify fill color */
	stroke: rgb(0, 0, 0); /* Specify stroke color */
	stroke-linecap: round; /* Specify stroke linecap */
	stroke-linejoin: round; /* Specify stroke linejoin */
	stroke-width: 15px;
}

.sub-container-zoom-text{
	position: absolute;
	top: 82%;
	/* height: 70px; */
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
	font-size: 14px;
	overflow: hidden;   
	padding-bottom: 10px;

    line-height: 0.3;
    /* background-color: red; */
}
