*{
  	padding: 0;
  	margin: 0;
  	text-decoration: none;
  	list-style: none;
  	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

:root{
	--x: 0;
	--y: 5;
	--height-nav-bar: 80px;
}

/* _____________ LOADING ELEMENT _____________ */
.loading-element{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	transition: opacity 1s ease;
	pointer-events: none;
}
.loading-svg{
	animation: rotate 3s linear infinite;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.fade-out{
	opacity: 0;
}

/* _____________ NAVIGATION MENU _____________ */
nav{
	position: fixed;
	background: #ffffffda;
	width: 100%;
	height: var(--height-nav-bar);
	z-index: 1;
}
nav ul{
	float: right;
	margin-right: 20px;
	background: #ffffff00;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: rgb(0, 0, 0);
	font-size: 17px;
	text-transform: uppercase;
	padding: 10px 5px;
	border-radius: 3px;
}
nav ul li a.active, nav ul li a:hover{
	background: #e9e8e8;
	transition: .5s;
}

h1{
	position: relative;
	width: fit-content;
	color: rgb(0, 0, 0);
	font-size: 33px;
	padding: 20px 20px;
	font-weight: bold;
	text-decoration: none;
	z-index: 1;
}
h1 a{
	text-decoration: none;
	color: #000000;
	padding-right: 20px;
}
.logo span:hover{
	color: #636363;
	transition: .5s;
}


/* _____________ LAYOUT BUTTON _____________ */
#layout-check{
	display: none;
}
.layout-btn{
	position: relative;
	/* display: none; */
	visibility: hidden;
    width: 33px;
    height: 33px;
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    cursor: pointer;
	z-index: 2;
	/* background-color: lightpink; */
}
.layout-icon .square {
	fill: transparent;
	stroke: black;
	stroke-width: 5px;
	transform-origin: center;
}

.button.layout-animation[data-state="opened"] .left{
	animation: forward-left 1.2s forwards;
}
.button.layout-animation[data-state="closed"] .left{
	animation: backward-left 1.2s forwards;
}
  
.button.layout-animation[data-state="opened"] .right{
	animation: forward-right 1.2s forwards;
}
.button.layout-animation[data-state="closed"] .right{
	animation: backward-right 1.2s forwards;
}
  
@keyframes forward-left {
   0% {transform: translateX(0);} 
   50% {width: 40px; transform: translateX(5px);}
   100% {width: 40px; transform: translateX(-20px);}
} 
@keyframes backward-left {
	0% {width: 40px; transform: translateX(-20px);}
	50% {width: 40px; transform: translateX(5px);}
	100% {transform: translateX(0);} 
} 
@keyframes forward-right {
	0% {transform: translateX(0);} 
	50% {width: 40px; transform: translateX(5px);}
	100% {width: 40px; transform: translateX(30px);}
}   
@keyframes backward-right {
	0% {width: 40px; transform: translateX(30px);}
	50% {width: 40px; transform: translateX(5px);}
	100% {transform: translateX(0);} 
}
/* #layout-check:checked ~ .nav .layout-btn .grid-icon{
	display: block;
}
#layout-check:checked ~ .nav .layout-btn .column-icon{
	display: none;
} */
#layout-check:checked ~ .home-container{
	position: relative;
}
#layout-check:checked ~ .home-container .home-grid {
	display: flex;
	flex-direction: column;
	gap: 40px;
	overflow-y: scroll; /* Just in case (makes no difference)*/
	align-items: center;
}

#layout-check:checked ~ .home-container .home-grid .photo{
	width: 80%;
}
#layout-check:checked ~ .home-container .home-grid .photo:first-child{
	margin-top: 100px;
}
#layout-check:checked ~ .home-container .home-grid .photo .text-column{
	display: block;
	text-align: center;
	font-size: 15px;
}

/* Hide picture description in grid-layout */
.home-container .home-grid .photo .text-column{
	display: none;
}

  
/* _____________ MENU BUTTON _____________ */
#menu-check{
    display: none;
}
.menu-btn{
	position: relative;
    width: 37px;
    height: 40px;
    float: right;
    margin-right: 20px;
    margin-top: 17px;
    cursor: pointer;
	z-index: 2;
	display: none;
}
.menu-btn .hamburguer{
	background: transparent;
}

.hamburguer .line {
	fill: black;
	transition:
	  transform 300ms ease-in 300ms,
	  rotate 300ms ease-in,
	  opacity 0ms 300ms;
	;
	transform-origin: center;
  }
#menu-check:checked ~ .menu-btn .hamburguer .line {
	transition:
		transform 300ms ease-in,
		rotate 300ms ease-in 300ms,
		opacity 0ms 300ms;
	;
}
  
#menu-check:checked ~ .menu-btn .hamburguer .top{
	transform: translateY(25px);
}
#menu-check:checked ~ .menu-btn .hamburguer .bottom{
	transform: translateY(-25px);
}
#menu-check:checked ~ .menu-btn .hamburguer .top{
	rotate: 45deg;
}
#menu-check:checked ~ .menu-btn .hamburguer .middle{
	opacity: 0;
}
#menu-check:checked ~ .menu-btn .hamburguer .bottom{
	rotate: -45deg;
}


@media (max-width: 952px){
	h1{
			font-size: 30px;
	}
	nav ul li a{
			font-size: 16px;
	}
}
@media (max-width: 858px){
	h1{
		font-size: 25px;
	}
	nav{
		z-index: 1;
	}
	nav ul{
			position: fixed;
			width: 100%;
			height: calc(100% - 80px); /* Adjust the height to leave space for the top bar */
			background: #ffffffda;
			top: -100%; /* Hide initially the menu*/
			text-align: center;
			transition: all .5s;
			z-index: 0;
			overflow-y: auto;
	}
	nav ul li{
			display: block;
	}
	nav ul li a{
			font-size: 20px;
	}
	nav ul li a:hover, nav ul li a.active{
			background: #e9e8e8;
			/* background: none; */
			/* color: #0a7ed7; */
	}
	.layout-btn{
		/* display: block; */
		visibility: visible;
	}
	.menu-btn{
		display: block;
	}
	#menu-check:checked ~ul{
		left:0;
		top: 80px;
	}
}

/* _____________ HIDE SCROLLING BARS _____________ */
/* For WebKit browsers (e.g., Chrome, Safari) */
.home-grid::-webkit-scrollbar {
	display: none; /* Hide scrollbar for WebKit */
  }
/* For Firefox */
.home-grid {
scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* _____________ GRID LAYOUT _____________ */
.home-container{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
    top: 0px;
	left: 0px;
    height: 100%;
    width: 100%;
	overflow: hidden;
    z-index: 0;
}

.back-name{
	visibility: hidden;
	position: absolute;
	display: block;
	text-align: center;
	font-size: 25px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0);
}

.home-container .home-grid{
	position: relative;
	height: 100%;
    display: grid;
    grid-template-rows: repeat(134, 14px);
    grid-template-columns: repeat(134, 14px);
    overflow-x: scroll;
    overflow-y: scroll;
}

.photo {
	overflow: hidden;
}
.photo img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.item-1{ /* x/y ~ 1*/
	grid-row: calc(var(--y) + 12) / calc(var(--y) + 29);
	grid-column: calc(var(--x) + 10) / calc(var(--x) + 27);
}
.item-5{ /* x/y ~ 1*/
	grid-row: calc(var(--y) + 34) / calc(var(--y) + 59);
	grid-column: calc(var(--x) + 5) / calc(var(--x) + 30);
}
.item-9{ /* x/y ~ 0.726 */
	grid-row: calc(var(--y) + 64) / calc(var(--y) + 89);
	grid-column: calc(var(--x) + 9) / calc(var(--x) + 28);
	/* justify-self: start; */
}
.item-13{ /* x/y ~ 1.574 */
	grid-row: calc(var(--y) + 94) / calc(var(--y) + 110);
	grid-column: calc(var(--x) + 8) / calc(var(--x) + 33);
}
.item-2{ /* x/y ~ 1 */
	grid-row: calc(var(--y) + 5) / calc(var(--y) + 35);
	grid-column: calc(var(--x) + 35) / calc(var(--x) + 60);
}
.item-6{ /* x/y ~ 0.728 */
	grid-row: calc(var(--y) + 38) / calc(var(--y) + 63);
	grid-column: calc(var(--x) + 38) / calc(var(--x) + 57);
}
.item-10{ /* x/y ~ 1.574 */
	grid-row: calc(var(--y) + 67) / calc(var(--y) + 83);
	grid-column: calc(var(--x) + 34) / calc(var(--x) + 59);
}
.item-14{ /* x/y ~ 0.643 */
	grid-row: calc(var(--y) + 88) / calc(var(--y) + 125);
	grid-column: calc(var(--x) + 42) / calc(var(--x) + 65);
}
.item-3{ /* x/y ~ 0.645 */
	grid-row: calc(var(--y) + 8) / calc(var(--y) + 45);
	grid-column: calc(var(--x) + 67) / calc(var(--x) + 90);
}
.item-7{ /* x/y ~ 1.567 */
	grid-row: calc(var(--y) + 79) / calc(var(--y) + 96);
	grid-column: calc(var(--x) + 73) / calc(var(--x) + 98);
}
.item-11{ /* x/y ~ 1 */
	grid-row: calc(var(--y) + 50) / calc(var(--y) + 75);
	grid-column: calc(var(--x) + 67) / calc(var(--x) + 92);
}
.item-15{ /* x/y ~ 0.727 */
	grid-row: calc(var(--y) + 100) / calc(var(--y) + 125);
	grid-column: calc(var(--x) + 73) / calc(var(--x) + 92);
}
.item-4{ /* x/y ~ 1.577 */
	grid-row: calc(var(--y) + 13) / calc(var(--y) + 29);
	grid-column: calc(var(--x) + 97) / calc(var(--x) + 122);
}
.item-8{ /* x/y ~ 0.727 */
	grid-row: calc(var(--y) + 35) / calc(var(--y) + 60);
	grid-column: calc(var(--x) + 100) / calc(var(--x) + 119);
}
.item-12{ /* x/y ~ 0.642 */
	grid-row: calc(var(--y) + 65) / calc(var(--y) + 102);
	grid-column: calc(var(--x) + 105) / calc(var(--x) + 129);
}
.item-16{ /* x/y ~ 1 */
	grid-row: calc(var(--y) + 107) / calc(var(--y) + 124);
	grid-column: calc(var(--x) + 100) / calc(var(--x) + 117);
}
.empty-right{
	grid-row: calc(var(--y) + 125) / calc(var(--y) + 130);
	grid-column: calc(var(--x) + 130) / calc(var(--x) + 135);
	/* background: blue; */
}

@media (max-width: 1000px){
	.home-container .home-grid{
		grid-template-rows: repeat(134, 8px);
		grid-template-columns: repeat(134, 8px);
	}
}

/* _____________ ZOOM LAYOUT _____________ */
.zoom-container{
	display: none;
	position: fixed;
	background: rgba(255, 255, 255, 0.951);
	z-index: 3;
	height: 100%;
	width: 100%;
}
.zoom-sub-container-img{
	position: absolute;
	top: 10%;
	height: 70%;
	width: 800px; /* This must match the @media query*/
	left: 50%;
	transform: translateX(-50%);
	visibility: visible;
	overflow: hidden;
	/* border: 1px solid #ccc; */
}
.zoom-sub-container-img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: absolute;
}

.zoom-sub-container-text{
	display: none;
	position: absolute;
	top: 82%;
	height: 70px;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
	font-size: 14px;
	overflow: hidden;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
	height: 40px;
	width: 40px;
    cursor: pointer;
}
.close path {
	fill: none;
	stroke: rgb(0, 0, 0); /* Specify stroke color */
	stroke-linecap: round; /* Specify stroke linecap */
	stroke-linejoin: round; /* Specify stroke linejoin */
	stroke-width: 35; /* Specify stroke width */
}
.prev,
.next,
.toggle-colection {
	/* background-color: lightblue; */
  	position: absolute;
	top: 85%;
	left: 50%;
	height: 40px;
	width: 40px;
	transform: translate(-50%, 0);
	cursor: pointer;
  	user-select: none;
  	z-index: 10;
}

.prev path, .next path {
	fill: none; /* Specify fill color */
	stroke: rgb(0, 0, 0); /* Specify stroke color */
	stroke-linecap: round; /* Specify stroke linecap */
	stroke-linejoin: round; /* Specify stroke linejoin */
	stroke-width: 35; /* Specify stroke width */
  }
.prev {
	margin-left: -120px;
}
.next {
	margin-left: 120px;
}
.toggle-colection{
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    border: none;
    cursor: pointer;
	margin-left: -180px;
}

/* Control the max width of sub-container-img */
/* Here the container is set to a dinamic with of 80% when it goes below 1000px */
@media (max-width: 1000px) {
	.zoom-sub-container-img{
		width: 80%;
	}
}


/* _______________________________________ */
/* ______________ TEMPORAL PAGE ______________ */
/* _______________________________________ */
.main-container-work{
	position: fixed;
	z-index: 0;
	margin-top: var(--height-nav-bar);
	height: calc(100% - var(--height-nav-bar));
	width: 100%;
}
.main-sub-container-work{
	position: absolute;
	top: 10%;
	height: 70%;
	width: 800px; /* This must match the @media query*/
	left: 50%;
	transform: translateX(-50%);
	visibility: visible;
	overflow: hidden;
	/* border: 1px solid #ccc; */
}
.main-sub-container-work img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: absolute;
}

.img-wrapper {
	transition: transform 0.5s ease; /* Adding transition for smooth animation */
}

.image-transition {
    transform: translateY(120%); /* Initially translate the image down */
}

.main-sub-container-text{
	position: absolute;
	top: 82%;
	height: 70px;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
	font-size: 14px;
	overflow: hidden;
}


@media (max-width: 1000px) {
	.main-sub-container-work{
		width: 80%;
	}
}
@media (max-height: 500px) {
	.main-container-work{
		overflow-y: scroll;
	}
	.main-sub-container-work{
		height: 300px;
	}
	.main-sub-container-text{
		top: 350px;
	}
	.prev,
	.next {
		top: 360px;
	}

}


/* _______________________________________ */
/* ______________ TEXT PAGE ______________ */
/* _______________________________________ */
.text-page .container{
    position: absolute;
    width: 99%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.text-page .container .text{
	/* border: 1px solid #ccc; */
    overflow-x: hidden;
    width: 900px;
    margin-top: 100px;
    -webkit-text-size-adjust: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: .66px;
}
.text-page h2{
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: .66px;
	margin-bottom: 20px;
}
.text-page h3{
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: .66px;
    margin-bottom: 40px;
}

.text-page p{
	margin-bottom: 20px;
}
.text-page p:last-child {
    margin-top: 50px;
    margin-bottom: 140px;
}

.text-page .link-patio{
    text-decoration: underline;
    list-style: none;
    color: black;
}

.text-page .link-patio:hover{
    color: blue;
}

@media (max-width: 1000px) {
	.text-page .container .text{
		width: 100%;
        margin-left: 30px;
        margin-right: 30px;
	}
}



/* _______________________________________ */
/* ______________ BIO PAGE ______________ */
/* _______________________________________ */
.bio-page .container{
    position: relative;
    width: 99%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.bio-page dl {
    width: 1200px;
    margin: 80px 30px;
    -webkit-text-size-adjust: none;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    font-weight: normal;
    color: #000000;
    columns: 3;
}

.bio-page dd{
	margin-left: 40px;
}

@media (max-width: 1000px) {
    .bio-page dl{
        width: 100%;
        overflow: hidden;
        columns: 2;
    }
}
@media (max-width: 600px) {
    .bio-page dl{
        columns:1;
    }
}


/* _______________________________________ */
/* ______________ CONTACT PAGE ______________ */
/* _______________________________________ */
.contact-page .item{
    position: absolute;
    top: 20%;
    right: 10%;
    width: 1050px;
}

.contact-page p {
    overflow-wrap: break-word;
    font-size: 17px;
    margin-left: -5%;
    letter-spacing: 0.01em;
    font-weight: normal;
    color: #000000;
}
.contact-page a{
    color: #000000;
    text-decoration: underline;
}
.contact-page a:hover{
    color: blue;
}
.contact-page img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.7;
}

@media (max-width: 1500px) {
    .contact-page .item{
        width: 70%;
    }
}
@media (max-width: 800px) {
    .contact-page p {
        font-size: 15px;
    }
}