:root{
    --column-track-controls-width: 150px;
    --column-track-controls-left-margin: 10px;
    --column-track-controls-background-color: rgb(33, 33, 33);
    --height-tracks: 100px;
    --margin-tracks: 10px;
    --thumb-color: rgb(224, 210, 222);
}

body,
html {
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    border: none;
    color: black;
}
    
.image-main{
    position: relative;
    /* width: 100%;
    height: 500px; */
}

/*----------------------------------------------*/
/* SCROLLBAR */
/*----------------------------------------------*/

/* Track */
::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
    height: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar handle */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scrollbar handle when hovered */
}
/* Track */
::-webkit-scrollbar-track {
    background: #000000; /* color of the scrollbar track */
}

/*----------------------------------------------*/
/* MAIN */
/*----------------------------------------------*/

.main-container {
    position: relative;
}

/*----------------------------------------------*/
/* TEMPORAL */
/*----------------------------------------------*/

.toggle-column {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: var(--column-track-controls-left-margin);
    background-color: var(--column-track-controls-background-color);
}

.toggle-column .layout .line {
    transform-origin: center;
}
.toggle-column[data-state="opened"] .line {
    animation: rotateunhide 1.2s forwards;
}
.toggle-column[data-state="closed"] .line {
    animation: rotatehide 1.2s forwards;
}

@keyframes rotatehide {
    0% {transform: rotate(180deg);}
    100% {transform: rotate(0deg);}
}
  
@keyframes rotateunhide {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}
/*----------------------------------------------*/
/* COLUMN CONTROLS */
/*----------------------------------------------*/

.column-controls{
    position: absolute;
    width: var(--column-track-controls-width);
    height: 100%;
    border-radius: 10px;
    margin-left: var(--column-track-controls-left-margin);
    z-index: 20;
    background-color: var(--column-track-controls-background-color);
    left: 0;
    transition: left 1s ease-in-out;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column-controls.hide{
  left: calc(-1 * (var(--column-track-controls-width) + var(--column-track-controls-left-margin)))
}

.trackControls{
    width: 90%;
    height: var(--height-tracks);
    margin-top: var(--margin-tracks);
    margin-bottom: var(--margin-tracks);
    /* background-color: lightblue; */
    /* display: flex; */
    /* flex-direction: column; */
}
.trackControls label{
    color: white;
}
.trackControls .trackVolume{
    width: 10px;
    height: 10px;
}

.trackControls .trackVolume{
    -webkit-appearance: none;
    width: 100px;
    background: transparent;
    padding-left: 10px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /*Override default look*/
    height: 40px;
    width: 5px;
    background: var(--thumb-color);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.219); /* Add an edge */
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 20px;
    background: var(--range-background);
    cursor: pointer;
    clip-path: polygon(0% 100%, 0% 80%, 100% 0%, 100% 100%);  /*triangular shape (mimic default volume bar)*/
}

/*----------------------------------------------*/
/* TRACKS CONTAINER */
/*----------------------------------------------*/

.container {
    position: relative;
    margin-left: calc(var(--column-track-controls-width) + var(--column-track-controls-left-margin));
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    left: 0;
    transition: margin-left 1s ease-in-out;
}
.container.expand {
    margin-left: var(--column-track-controls-left-margin)
}

.shadow-start,
.shadow-end {
    position: absolute;
    width: 70px;
    height: 100%;
    z-index: 20;
    pointer-events: none;
}
.shadow-start{
    left: 0;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.shadow-end{
    right: 0;
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.scroll {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    user-select: none;
    /* background-color: lightblue; */
}
.wrapper {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    position: relative;
    margin-bottom: 5px;
}
.cursor-tracks{
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: white;
    width: 2px;
}

.track-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-top: var(--margin-tracks);
    margin-bottom: var(--margin-tracks);
}
.wscontainer{
    width: 100%;
    transform: scaleY(0.8);
    /* height: 100%; */
}